{% extends 'user/ticket/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<style>

</style>


<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h2>Ticket System</h2>
        </a>
    </div>
</nav>
<div class="container text-center mt-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card mb-4 rounded-pill mt-5">
                <div class="card-body">
                    <h5 class="card-title "><a href="#" class="text-decoration-none text-primary">Crea Ticket</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 rounded-pill mt-5">
                <div class="card-body">
                    <h5 class="card-title "><a href="#" class="text-decoration-none text-primary">Visualizza
                        Ticket</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}